* {
    margin: 0;
    padding: 0;
}

body {
    color: #666;
    background-color: #ddd;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #1a75ce;
}

.container {
    background-color: #f4f5f7;
    padding: 0;
    width: 1170px !important;
}

.sidebar {
    margin-right: 35px;
}

.container.main {
    padding: 15px;
}

.col-main {
    margin-left: 30px;
    overflow: hidden;
}

img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.profile {
    overflow: hidden;
}

.profile img {
    margin-left: 2px;
}

.welcome {
    width: 100px;
    margin: 30px 5px;
}

.welcome .text {
    color: #707070;
    display: block;
    font-size: 22px;
    font-weight: lighter;
    padding-bottom: 5px;
}

/********* MENU *************/

.menu {
    margin: 15px 0;
}

.menu ul {
    list-style: none;
}

.menu ul li {    
    border-top: 1px solid #e3e3e3;
    overflow: hidden;
    border-left: 5px solid #1a75ce;
    border-radius: 5px 0 0 5px;
}

.menu ul li:last-child {    
    border-bottom: 1px solid #e3e3e3;
}

.menu ul li .icon {    
    float: left;
    margin-right: 15px;
    height: 50px;
    width: 50px;
}

.menu ul li .icon span {   
    background: url("../image/menu.png") no-repeat;    
    background-position: 0 -44px;
    width: 20px;        
    display: block;
}

.menu ul li.profile .icon span {      
    background-position: 0 -44px;
    height: 23px;
    margin: 12px auto;
}
.menu ul li.order .icon span {      
    background-position: 0 -89px;
    height: 23px;
    margin: 14px auto;
}
.menu ul li.address .icon span {      
    background-position: 0 -216px;
    height: 21px;
    margin: 13px auto;
}

.menu ul li .link {
    margin: 12px 0;
}

.menu ul li a {
    font-size: 18px;
    color: #1a75ce;
}

/** Hover **/
.menu ul li.hover a {
    text-decoration: initial;
    color: #f37b20;
}

.menu ul li.hover {  
    border-top: 1px solid #f37b20;
    border-left: 10px solid #f37b20;
    transition: all .3s ease-in-out;
}

/** Active **/
.menu ul li.active {
    border-left: none;
    border-top: 1px solid #f37b20;
    border-radius: 10px 0 0 0px;
}

.menu ul li.active .icon {
    background-color: #f37b20;
    border-radius: 10px;
    transition: all .8s ease-in-out;
}

.menu ul li.active a {
    color: #f37b20;
    text-decoration: initial;
}

.menu ul li.profile.active .icon span {      
    background-position: 0 -237px;
}
.menu ul li.order.active .icon span {      
    background-position: 0 -194px;
}
.menu ul li.address.active .icon span {      
    background-position: 0 -260px;
}

/*************** PANEL *************************/

.panel{
    background: #FFF;
    border: 1px solid #d2d2d2;
    overflow: hidden;
    border-radius: 15px 15px 5px 5px;
    border-bottom: 3px solid #1a75ce;
}

.panel:hover {
    border-bottom: 3px solid #f37b20;
}

/*********** ORDER PAGE ****************/

/** Titulo e campo de busca **/

.headline .title h1 {
    height: 33px;
    color: #666;
    font-size: 32px;
    font-weight: normal;
    margin: 0;
    line-height: 33px;
}

.headline .icon {
    background: url('../image/page-icon.png') no-repeat;    
    display: inline-block;
    margin-right: 21px;
    width: 35px;
    height: 34px;
}

.order-main .headline .icon {
    background-position: 0 -37px;
}

.headline {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 30px;
    margin-bottom: 20px;
    overflow: hidden;
    margin-top: 15px;
}

.form-search {
    background: #FFF;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    height: 33px;
    padding: 0 30px 0 0;
    width: 400px;
    position: relative;
    margin-top: 2px;
    color: #666;
}

.form-search input {
    float: left;
    border: 0;
    background: none;
    width: 95%;
    padding: 5px 8px;
    outline: 0;
}

.form-search button {
    background: url('../image/icon.png') no-repeat 0 -399px transparent;
    width: 22px;
    height: 22px;
    position: absolute;
    right: 10px;
    top: 4px;
    border: none;
}

/** Produtos **/

.products-list .order-title {
    display: block;
    font-size: 18px;
    line-height: 18px;
}

.products-list .order-date {
    display: block;
}

.products-list .panel-order {
    padding: 20px;    
    margin-top: 25px;
}

.products-list .order-id {
    color: #1a75ce;
    font-size: 30px;
}

.products-list .order-date {
    display: block;
    font-size: 12px;
}

.products-list .order-date.delivered {
    color: #5d9e0e;
    font-weight: bold;
}

.products-list .order-date.prediction {
    color: #F6B428;
    font-weight: bold;
}

.products-list .order-product {
    margin-left: 60px;
    border-left: 1px solid #d2d2d2;
    padding-left: 50px;
    max-width: 600px;
}

.products-list .product-image {
    float: left;
    margin: 10px 0 10px 45px;
}

.product-popup.active {
    position: absolute;
    background: #fff;
    width: 300px;
    margin: -90px 0 0 100px;
    display: block !important;
    padding: 10px;
    border: 1px solid #f37b20;
    border-radius: 10px;
}

.product-popup span {
    display: block;
}

.product-popup .product-name, .product-popup .product-subtotal {
    font-weight: bold;
}

.product-popup .product-desc, .product-popup .product-price, .product-popup .product-qty {
    font-size: 12px;
}

.product-popup .product-price {
    margin-top: 10px;
}

.product-popup .product-price, .product-popup .product-qty, .product-popup .product-subtotal {
    text-align: right;
}

/********** ADDRESS PAGE ****************/

.address-main .headline .icon {
    background-position: 0 -102px;
}

.new-address, .panel-address {    
    font-size: 16px;
    float: left;
    height: 195px;
    margin-right: 12px;
    margin-bottom: 20px;
    width: 285px;
}

.new-address {
    border: 1px solid #c9c9c9;
    text-align: center;    
    border-radius: 10px;
}

.new-address a {
    padding-top: 64px;
    display: block;
}

.new-address a:hover {
    color: #f37b20;
}

.new-address a:hover, .new-address a:enabled {
    text-decoration: initial;
}

.new-address a span {
    display: block;
    margin: 0 auto;
    width: 42px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    background-color: #1a75ce;
    border-radius: 100%;
    margin-bottom: 10px;
}

.new-address a:hover span {
    background-color: #f37b20;    
}

.panel-address {    
    padding: 15px;
}

.panel-address span {
    display: block;
    font-size: 14px;
    color: #999;
}

.panel-address span.name {
    margin-bottom: 11px;
    color: #666;
    font-size: 20px;
}

.panel-address .main {
    font-size: 12px;
    margin-top: 20px;
}

/********** PROFILE PAGE ****************/

.profile-main .headline .icon {
    background-position: 0 -69px;
}

.address-main, order-main, profile-main {
    overflow: hidden;
}

.panel-profile {
    font-size: 16px;    
    padding: 30px;
    margin-bottom: 20px;    
}

.panel-profile span {
    display: block;
    margin-bottom: 10px;
}

.panel-profile span.data {
    color: #999;
    margin-bottom: 30px;
}

.panel-profile span.data:last-child {
    margin-bottom: 0;
}

.panel-profile span.newsletter {
    color: #999;
    font-size: 14px;
    float: right;
    margin-left: 10px;
}